/* CSS Document */

.BFDsearchKeyWordtextBox{
-webkit-border-radius:3px;
border-radius: 3px !important;
border-width: 1px !important;
border-style: solid !important;
border-color: #dfdfdf !important ;
color: #333 !important;
box-sizing: border-box !important;
	
}

.BFDfrmSortSS{
	margin-bottom:25px;
}

.dataTable{
	line-height:2em !important;
}

.dataTable thead , .dataTable tfoot{
	line-height:2em !important;
	background-color:#F1F1F1;
	border-radius:4px;
}

.ss_search_submit{
	background-color:#333;
	border-radius:4px;
	color:#FFF;
	padding:3px 8px ;
}
.pluginSkinDark a{color:#06F !important;}